// Input parameters
// What type of run? Either "core", "reads", or "assembly"
params.type="assembly"

// If using the "reads" type above, specify path here:
params.reads="/cluster/projects/nn9305k/active/hkaspersen/Projects/NEXTFLOW/testdata/test_reads/*.fastq.gz"

// If using "core" or "assembly", specify path here:
params.assemblies="/cluster/projects/nn9305k/active/hkaspersen/Projects/NEXTFLOW/testdata/test_assemblies/*fasta"



// General
// Deduplicate samples?
params.deduplicate=true



// Program-related settings

// Core
// Panaroo-related settings
params.refdb="/cluster/projects/nn9305k/genome_references/panaroo_refs/refseq.genomes.k21s1000.msh"
params.clean_mode="sensitive"
params.prokka_additional="--proteins /cluster/projects/nn9305k/active/hkaspersen/Projects/KLEB_GAP/references/NTUH-K2044.gb"

// Reads
params.snippyref="/cluster/projects/nn9305k/active/hkaspersen/Projects/KLEB_GAP/references/NTUH-K2044.fasta"
params.R1="*1.fastq.gz"
params.R2="*2.fastq.gz"
params.suffix="_1.fastq.gz"

// Assembly
params.parsnp_ref="!"

// Gubbins settings
params.treebuilder="raxml"
params.gubbinsmodel="GTRGAMMA"

// IQTree settings
params.iqtree_model="GTR+I+F"
params.bootstrap="1000"
params.outgroup=""
