process {
	executor = 'slurm'
	clusterOptions = '--job-name=ALPPACA --account=nn9305k --mem-per-cpu=4700M'
	queueSize = 24
	maxRetries = 2
	errorStrategy='retry'

	cpus = 4
	withLabel: medium {cpus = 8}
	withLabel: heavy {cpus = 20}

	withLabel: bigmem {
		cpus = 8
		clusterOptions = '--job-name=PhyloFlow --account=nn9305k --partition=bigmem --mem-per-cpu=32000M'
	}

	time = { 8.h * task.attempt }
	
	withLabel: longtime {
		time = { 48.h * task.attempt }
		cpus = 8
	}
}

params.module_dir="./modules"
