process {
    executor = 'slurm'
    clusterOptions = '--job-name=PhyloFlow --account=nn9305k --mem-per-cpu=4700M'
    queueSize = 24
    maxRetries = 1
    errorStrategy='retry'

    cpus = 4
    withLabel: medium {cpus = 8}
    withLabel: heavy {cpus = 16}

    time = { 2.h * task.attempt }
    withLabel: longtime {
	time = { 8.h * task.attempt }
	cpus = 20
	}
}
