params.assemblies="/cluster/projects/nn9305k/active/hkaspersen/Projects/NEXTFLOW/testdata/test_assemblies/*fasta"
params.outdir="/cluster/projects/nn9305k/active/hkaspersen/Projects/NEXTFLOW/test_results"

params.parsnp_ref="!"

params.treebuilder="raxml"
params.gubbinsmodel="GTRGAMMA"

params.iqtree_model="MFP+ASC"
params.bootstrap="1000"

