params.assemblies="/cluster/projects/nn9305k/active/hkaspersen/Projects/NEXTFLOW/testdata/test_assemblies/*fasta"
params.outdir="/cluster/projects/nn9305k/active/hkaspersen/Projects/NEXTFLOW/test_results"

params.snippy=true
params.snippyref="/cluster/projects/nn9305k/active/hkaspersen/Projects/KLEB_GAP/references/NTUH-K2044.fasta"
params.reads="/cluster/projects/nn9305k/active/hkaspersen/Projects/NEXTFLOW/testdata/test_reads/*.fastq.gz"

params.parsnp_ref="!"

params.treebuilder="raxml"
params.gubbinsmodel="GTRGAMMA"

params.iqtree_model="GTR+ASC"
params.bootstrap="1000"

