/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    NorwegianVeterinaryInstitute/ALPPACA Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/

// Specify minimum nextflow version
nextflowVersion = ">=21.10.6"


// Define output report of Nextflow run
report {
	enabled		= true
	file		= "${params.out_dir}/logs/nextflow_run_report.html"
}

process {
	cpus		= { check_max( 1    * task.attempt, 'cpus' ) }
	memory		= { check_max( 4.GB * task.attempt, 'memory' ) }
	time  		= { check_max( 8.h  * task.attempt, 'time') }

	errorStrategy	= 'retry'
	maxRetries	= 2

	// Process-specific resource requirements
	withLabel:process_high {
        	cpus	= { check_max( 20, 'cpus'' ) }
	}
	withLabel:process_long {
        	time	= { check_max( 48.h * task.attempt , 'time') }
	}
	withLabel:process_high_memory {
		memory	= { check_max( 200.GB, 'memory' ) }
	}
	withLabel:process_short {
		time	= { 1.h * task.attempt }
		cpus	= 1
	}
	withLabel:process_high_memory_time {
                memory  = { check_max( 200.GB, 'memory' ) }
		time	= { check_max( 48.h * task.attempt, 'time' ) }
        }
	withLabel:process_high_cpu_time {
                cpu	= { check_max( 20, 'cpus' ) }
                time    = { check_max( 48.h * task.attempt, 'time' ) }
        }
}
