/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    NorwegianVeterinaryInstitute/ALPPACA Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/

// Specify minimum nextflow version
nextflowVersion = ">=21.10.6"


// Define output report of Nextflow run
report {
	enabled		= true
	file		= "${params.out_dir}/logs/nextflow_run_report.html"
}

process {
	cpus		= { 1    * task.attempt }
	memory		= { 4.GB * task.attempt }
	time  		= { params.time_multiplier * 8.h  * task.attempt }

	errorStrategy	= 'retry'
	maxRetries	= 2

	// Process-specific resource requirements
	withLabel:process_high {
        	cpus	= { 20 }
	}
	withLabel:process_long {
        	time	= { params.time_multiplier * 48.h * task.attempt }
	}
	withLabel:process_high_memory {
		memory	= { 200.GB }
	}
	withLabel:process_short {
		time	= { params.time_multiplier * 1.h * task.attempt }
		cpus	= 1
	}
	withLabel:process_high_memory_time {
                memory  = { 200.GB }
		time	= { params.time_multiplier * 48.h * task.attempt }
        }
	withLabel:process_high_cpu_time {
                cpu	= { 20 }
                time    = { params.time_multiplier * 48.h * task.attempt }
        }
}
