/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    NorwegianVeterinaryInstitute/ALPPACA Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/
// Define output report of Nextflow run
report {
	enabled		= true
	file		= "${params.out_dir}/logs/nextflow_run_report.html"
}

process {
	executor	= 'local'

	cpus		= { 1    * task.attempt }
	memory		= { 4.GB * task.attempt }
	time  		= { params.time_multiplier * 8.h  * task.attempt }

	errorStrategy	= 'retry'
	maxRetries	= 2

	// Process label definitions
        withLabel: process_high {
                cpus            = 4
        }
        withLabel: process_high_cpu_time {
                cpus            = 4
                time            = { params.time_multiplier * 48.h * task.attempt }
        }
        withLabel: process_high_memory {
		memory		= { 8.GB * task.attempt }
        }
        withLabel: process_high_memory_time {
		memory		= { 8.GB * task.attempt }
                time            = { params.time_multiplier * 48.h * task.attempt }
        }
        withLabel: process_long {
                time            = { params.time_multiplier * 48.h * task.attempt }
        }
        withLabel: process_short {
                time            = { params.time_multiplier * 1.h * task.attempt }
                cpus            = 1
        }


}
