/*
* -----------------------------------
*  Nextflow config file for NVI Saga
* -----------------------------------
*/

report {
        enabled         = true
        file            = "${params.out_dir}/logs/nextflow_run_report.html"
}

process {
	executor		= 'slurm'
	clusterOptions 		= '--job-name=Saga_nxf --account=nn9305k --mem-per-cpu=4700M'
	queueSize		= 24
	errorStrategy		= 'retry'
	maxRetries		= 2
	cpus			= 8
	time			= { params.time_multiplier * 8.h * task.attempt }

	// Process label definitions
	withLabel: process_high {
		cpus 		= 20
	}
	withLabel: process_high_cpu_time {
                cpus            = 20
		time		= { params.time_multiplier * 48.h * task.attempt }
        }
	withLabel: process_high_memory {
		clusterOptions 	= '--job-name=Saga_nxf --account=nn9305k --partition=bigmem --mem-per-cpu=32000M' 
	}
	withLabel: process_high_memory_time {
                clusterOptions  = '--job-name=Saga_nxf --account=nn9305k --partition=bigmem --mem-per-cpu=32000M'
		time		= { params.time_multiplier * 48.h * task.attempt }
        }
	withLabel: process_long {
		time		= { params.time_multiplier * 48.h * task.attempt } 
	}
	withLabel: process_short {
		time		= { params.time_multiplier * 1.h * task.attempt }
		cpus		= 1
	}
}
