/*
* -----------------------------------
*  Nextflow config file for NVI Saga
* -----------------------------------
*/

process {
	executor		= 'slurm'
	clusterOptions 		= '--job-name=Saga_nxf --account=nn9305k --mem-per-cpu=4700M'
	queueSize		= 24
	errorStrategy		= 'retry'
	maxRetries		= 2
	cpus			= 8

	// Process label definitions
	withLabel: heavy {
		cpus 		= 20
	}
	withLabel: bigmem {
		clusterOptions 	= '--job-name=Saga_nxf --account=nn9305k --partition=bigmem --mem-per-cpu=32000M' 
	}
	withLabel: longtime {
		time		= { 48.h * task.attempt } 
	}
	withLabel: short {
		time		= { 1.h * task.attempt }
		cpus		= 1
	}
}
