/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    NorwegianVeterinaryInstitute/ALPPACA Nextflow test config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.
    Use as follows:
      nextflow run NorwegianVeterinaryInstitute/ALPPACA -profile test_mapping,<docker/singularity/conda> --out_dir <OUTDIR>

------------------------------------------------------------------------------------------------------------
*/

params {
	config_profile_name        = 'Test mapping'
	config_profile_description = 'Minimal test dataset to check pipeline function for the mapping track'

	// Limit resources for GitHub actions
	max_cpus   = 2
    	max_memory = '6.GB'
    	max_time   = '6.h'

	// Input and parameters
	track		= "mapping"
	input		= "https://raw.githubusercontent.com/NorwegianVeterinaryInstitute/ALPPACA/master/assets/data/samplesheet_reads.csv"
	snippyref	= "https://raw.githubusercontent.com/NorwegianVeterinaryInstitute/ALPPACA/master/assets/data/snippyref.fasta"
	R1		= "*1.fastq.gz"
	R2		= "*2.fastq.gz"
	suffix		= "_1.fastq.gz"
}
