/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    NorwegianVeterinaryInstitute/ALPPACA Nextflow test config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.
    Use as follows:
      nextflow run NorwegianVeterinaryInstitute/ALPPACA -profile test_cgmlst,<docker/singularity/conda> --out_dir <OUTDIR>

------------------------------------------------------------------------------------------------------------
*/

params {
	config_profile_name        = 'Test cgmlst'
	config_profile_description = 'Minimal test dataset to check pipeline function for the cgmlst track'

	// Limit resources for GitHub actions
	max_cpus   = 2
    	max_memory = '6.GB'
    	max_time   = '6.h'

	// Input and parameters
	track		 = "cgmlst"
	input		 = "https://raw.githubusercontent.com/NorwegianVeterinaryInstitute/ALPPACA/master/assets/data/samplesheet.csv"
	prepped_schema   = true
	skip_mlst	 = true
	skip_schema_eval = true
}
